*{  margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

/* En el body se define la estructura de la pagina con grid: */

.grid{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: 'h h h'
                         'm m m'
                         'm m m'
                         'm m m'
                         'f f f';         
                        
 max-height: 2550px;
 
}

/* Cabecera dela pagina, desde el logo hasta los iconos y tel. reserva */
header{ 
        grid-area: h;
        display: grid;
        grid-template-columns:  10% 80% 10%;
        grid-template-rows: 65%  10% 10% 15%;
        grid-template-areas: 'l l l'
                             'mi c c'
                             'n n n'
                             'r r r';

}
.logo{
    grid-area: l;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 1/2;
    
}
.logo img{
    width: 290px;
    transition: 2s;
}
.logo img:hover{
    opacity: .5;
    transform: rotate(-20deg) scale(1.4);
}
.michelin{
    grid-area: mi;
    grid-column: 1/2;
    grid-row: 2/3;
    transform: translate(3em, -4.9em);
}
.michelin img{
    width: 200px;
   
}
.covid{
    width: 10%;
    grid-area: c;
    grid-column: 3/4;
    grid-row: 2/3;
    transform: translate(-1em,-7em ); 
}
.covid img{
    width: 140px;
}    

/* area donde va el salmon posicionado con fixed*/
.fijo {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 30px;
    right: 0%;
    z-index: 70;
}
.salmon{
    width:30px;
    height: 130px;    
    z-index: 99;
    background-image: linear-gradient(to bottom, #FB6920, #FAC7A0, #FB6920);
    box-shadow: 0px 0px 6px gray;
    border-radius: 30% 0 0 30%;
    position: relative;
    left:90%;
}
.salmon:hover{
    transform: scaleX(1.8);
    opacity: .4;
    transition: 2s;
}
.salmon:hover + .tooltip{
    opacity: 70%;
    transition: 2s;
}
.tooltip{
    width: 150px;
    background-color: black;
    border-radius: 1em;
    position: relative;
    bottom: 8em;
    left: 7em;
    padding: .9em;
    color: white;
    font-size: .8em;
    text-align: center;
    opacity: 0;
    z-index: 80;;
}
.tooltip::after {
    border-left: 15px solid black;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    width: 0;
    height: 0;
    content: "";
    display: block;
    position: absolute;
    bottom: 1.4em;
    left: 11.2em;
  }

#oculto {
    width: 200px;
    z-index: 95;
    position: relative;
     top:-20%;
     left:40%;
   visibility: hidden;
   
}
#oculto img{
    width: 190px;
    box-shadow: 0px 0px 6px gray;
    border-radius: 10% 0 0 30%;
   
  }
.salmon:active + .tooltip + #oculto{
    visibility:visible;
    transform: translateX(-10px);
    transition: 1s;
    }
.salmon:active  {
display: none;
}
/* fin area salmon fijo */

/* Barra de navegacion */
nav{
    height: 60px;
    background-image: linear-gradient(to right, #6c3122,ivory,#6c3122);
    box-shadow: 0px 0px 8px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: n;

}
ul{
    list-style-type: none;
}
nav > ul> li{
    display: inline-block;
    padding-right: 6em;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration: underline;
    font-size: 1.2em;
    transition: 1s;
}
.redes{
    grid-area: r;
    padding: 2.5em 0 0 2em;
    margin-right:3em;  
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.redes span {
    letter-spacing: 0.3em;
    font-size: 1.2em;
}

.fa-twitter{
    color:#00ACEE;
}
.fa-facebook-f{
    color:#3B5999;
}
.fa-pinterest{
    color:#C92229;
}
.fa-instagram{
    color:#944DC7;
}
.fa-google-plus-g{
    color:#D44837;
}
.fab:hover{
opacity: .5;
}

h3{
    color:#fba963;  
}

::first-letter{
    font-size: 1.3em;
}

main{
    grid-area: m;
    grid-column: 1/4;
    

}
h1{  
    text-align: center;
    margin: 5% 0 80px 0;
    color:#4582B4;
    font-variant: small-caps;  
}
h2{
    font-size: 1.2em;
    color:#4582B4;
    text-align: center;
    margin-bottom: 2em;
}
.fondoindex, .fondoLoc{
    height:260px;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 0 14px black inset;
}
.fondoindex{
    background-image: url(../img/index/fr1_nigirisushi.jpg);
}
.centrado, footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ppal{
    margin: 4% 10% 6% 10%;
    
}
.ppal > cite, .impar > cite {
    border-left: 6px solid #4582B4;
    
} 
cite{
    display: block;
    padding-left: 2em;
    width: 75%;
    line-height: 2em;
}
.ppal > p{
        color: gray;
        transform: translate(-14em, 5em)
        
}
.ppal + hr{
    width: 30%;
    height: 6px;
    background-color: black;
    margin: 0 auto 2% auto;
}

.entrega{
    width: 73%;
    grid-area: e;
    margin: 4% auto;
    align-items: center;
    
}
.entrega > div > p{
    margin: 4% 2% 8% 0;
    font-size: .9em;
}
.entrega > div{
   width: 64%;
}
.entrega  img{
    width: 340px;
    box-shadow: 0 0 6px black;
}

.sugerencias{
    margin: 4em auto;
    width: 80%;
    text-align: center;
    font-size: .9em;
}

.sugerencias div{
    margin: 20px auto 10px;
    width: 200px;
    height: 410px;
    border-radius:10px;
    box-shadow: 0 0 4px gray;
}
.sugerencias div:hover{
    opacity: .6;
    transition: 2s;
}

.sugerencias div div{
    width: 160px;
    height: 320px;
    background-size: 480px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.tarj1{
    background-image: url(../img/index/superBento.jpg);  
}

.tarj2{
    background-image: url(../img/index/besoDragon.jpg);
}
.tarj3{
    background-image: url(../img/index/bentoFantasia.png);
}
.tarj4{
    background-image: url(../img/index/gambasMoriwase.jpg);
}
.tarj5{
    background-image: url(../img/index/miniBento.jpg);
}
.tarj6{
    background-image: url(../img/index/atunPicante.jpg);
}

/* estilos que aplican a equipo.html */


/*Galeria hecha con grid */

.galeria{
    width: 80%;
    margin: 0 auto 3% auto;
    display: grid;
    grid-template-rows: 250px 250px;
    grid-template-areas: '1 1 2 2 3'
                        ' 4 4 2 2 5';
    grid-gap: 6px;
}
.galeria div{
 border-radius: 1em;
 box-shadow: 0 0 8px gray;
}
.gal1{
    grid-area:1;
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url("../img/equipo/andrewNishimura.jpg");
    background-size: 530px;
    background-position: 50% 50%;
    filter: sepia(100%);
    
}
.gal1:hover{
    transform: rotate(360deg);
    transition: 1s;
}
.gal2{
    grid-area: 2;
    grid-column: 3/5;
    grid-row: 1/3;
    background-image: url("../img/equipo/nakaneNishimura.jpg");
    background-size: 780px;
    background-position: 50% 50%;
    filter: blur(2px);
}
.gal2:hover{
    transform:rotate(30deg) scale(.6);
    transition: 2s;
}
.gal3{
    grid-area: 3;
    grid-column: 5/6;
    grid-row: 1/2;
    background-image: url("../img/equipo/hichitoNishimura.jpg");
    background-size: 340px;
    background-position: 70% 0;
    filter: grayscale(100%);
}
.gal3:hover{
    transform:rotateY(360deg);
    transition: 1s;
}

.gal4{
    grid-area: 4;
    grid-column: 1/3;
    grid-row: 2/3;
    background-image: url("../img/equipo/joeNishimura.jpg");
    background-size: 530px;
    
}
.gal4:hover{
    transform:rotateX(360deg);
    transition: 1s;
}
.gal5{
    grid-area: 5;
    grid-column: 5/6;
    grid-row:2/3;
    background-image: url("../img/equipo/fredNishimura.jpg");
    background-size: 430px;
    background-position: 88% 0;
    filter: sepia(100%);
}
.gal5:hover{
    transform:skew(20deg);
    transition: 1s;
}


/*Fin galeria  */

/*Citas de la pagina equipo */

.miembros{
    width: 75%;
    margin: 1.5em auto 2.2em auto;
    font-size: 1.2em;
    display:grid;
    grid-template-areas: 'c1 t1 t1'
                        't2 t2 c2'
                        'c3 t3 t3'
                        't4 t4 c4'
                        'c5 t5 t5';
    grid-gap: 20px;
}

.c1{
    grid-area: c1;
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("../img/equipo/andrewNishimura.jpg");
    background-size: 250%;
    background-position: 70% 20%;
    
}

.c2{
    grid-area: c2;
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url("../img/equipo/hichitoNishimura.jpg");
    background-size: 400px;
    background-position: 90% 0;
}
.c3{
    grid-area: c3;
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url("../img/equipo/fredNishimura.jpg");
    background-size: 430px;
    background-position: 88% 0;

}
.c4{
    grid-area: c4;
    grid-column: 3/4;
    grid-row: 4/5;
    background-image: url("../img/equipo/nakaneNishimura.jpg");
    background-size: 300px;
    background-position: 58% 0;
}
.c5{
    grid-area: c5;
    grid-column: 1/2;
    grid-row: 5/6;
    background-image: url("../img/equipo/joeNishimura.jpg");
    background-size: 280px;
    background-position: 50% 20%;
}

.c1:hover, .c2:hover, .c3:hover,.c4:hover, .c5:hover{
    position: relative;
    animation: salto .3s ease-in-out infinite alternate;
}

@keyframes salto {
    from {top:-5px;}
    to {top: 5px;}
}
.t1{
    grid-area: t1;
    grid-column: 2/4;
    grid-row: 1/2;
}
.t2{
    grid-area: t2;
    grid-column: 1/3;
    grid-row: 2/3;
}
.t3{
    grid-area: t3;
    grid-column: 2/4;
    grid-row: 3/4;

}
.t4{
    grid-area: t4;
    grid-column: 1/3;
    grid-row: 4/5;
}
.t5{
    grid-area: t5;
    grid-column: 2/4;
    grid-row: 5/6;
}

.circulo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 14px black inset;
    background-color:red;
    margin-top: 1em;
    }
    
.miembros p{
    color: gray;
    text-align: right;
    margin: 1.4em 0 1.2em 0;
}
.cita{
    width: 94%;
    margin-top: 2em;
}
.impar > cite{
 margin-left: 2.2em;
 width: 98%;
}
.par > cite{
    width: 100%;
    border-right: 6px solid #4582B4;
    padding-right:6em;
    margin-left: 2em;
}  

/*fin seccion citas del equipo */

/*carta  */

h4{
    color: #dc2f53;
}
.fondo{
    background-image: url(../img/carta/sushitoRestaurant.jpg);
    background-position: 50%, 50%;
    background-size: 2100px;
    position: relative;
}
.fondo:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
    opacity: .9;
}
.menu{
    position: relative;
    margin: 0 auto 8em auto;
    border-top:1px solid black;
    border-bottom:1px solid black;
    text-align: center;
    display: flex;
    flex-wrap:wrap;
     
}

.menuDiario, .menuFestivos{
    line-height: 4em;
    margin: 8em auto 4em auto;
    min-width: 25%;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-around;
}
/* Fin carta */

/* Localizacion */


.franjaF{
    width:1900px;
    
}

iframe{
    margin: 0 0 8em 22em;
    border-radius: 5% 50% 5% 50%;
    box-shadow: 0 0 8px black;
    float: left;
    
}
.contacto{
    width: 600px;
    padding: 90px 10px 10px 10px;
    margin-left: 100px;
    border: 2px solid lightgray;
    border-radius: 2em;
    line-height: 2em;
    float: left;
    
}
.contacto ul li:first-child, .contacto ul li:nth-child(4){
    list-style-type: disc;
    font-weight: bolder;

}
.contacto hr{
    margin: 1em auto 1em auto;
    height: 4px;
    width: 90%;
    background-color: gray;
}
.contacto p{
    color: gray;
    font-size: .9em;
    font-style: italic;
    margin: -14px 10px 10px 40px;
}
.contacto p span{
    font-weight: bolder;
}
.fondoLoc{    
    clear: left;
    background-image: url(../img/local/fr2_sushitable.jpg);
    margin-bottom: 8em;
}

/* Pie de página */
footer{
    grid-area: f;
    width: 1900px;
    height: 420px;
    padding: 6em 4em 0 4em;
    line-height: 1.8em;
    background-color: #2e2e2e;
    color:white;
    text-align: center;
    font-size: .8em;
}
h3 span{
    color:red;
}
.col{
    width: 21.3%;
}
.barraft{
    width: 160px;
    height: 3px;
    margin-top: 6em;
    background-color: white;
    transform:rotate(90deg)
}
/* Fin footer */

/*media query  */

@media screen and (max-width: 800px) {
    header{
        height: 400px;
    }
    nav{
        z-index: 40;
        height: max-content;
        flex-direction: column;
        align-items: flex-start;
        background-image: linear-gradient(to right,ivory,#6c3122);
        line-height: 6em;
    }

    nav > ul > li{
        display: block;
       
    }
    .redes{
        margin-top: 22em;
        justify-content: space-evenly;
    }
    h1{
        margin-top: 14em;
    }

    .logo img{
        position:relative;
        z-index: 40;
        left: -3.5em;
        top: -2em;
    }
    .logo img:hover{
        opacity: .5;
        transform: rotate(-10deg) scale(1.1);
    }
    .michelin img{
        position: relative;
        top:-.4em;
    }
    .covid{
        transform: translate(-8em,-6.6em ); 
    }
    .ppal > p{
        transform: none;
    }
    .sugerencias div{
        font-size: .9em;
        line-height: .8em;
        margin: 12px auto 10px;
        width: 300px;
        height: 355px;
        border-radius:10px;
        box-shadow: 0 0 4px gray;
    }
        .sugerencias div div{
        width: 280px;
        height: 290px;
    }
        .miembros{
            font-size: .7em;
        }
        .miembros cite{
            line-height: 1.4em;
        }
        .miembros p{
            margin-top: 2em;
        }

  }
